.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    min-height: 3.8rem;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar-brand {
    font-size: 1.05rem;
    font-weight: 700;
}

.nav-item {
    font-size: 0.95rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 8px;
    height: 2.8rem;
    display: flex;
    align-items: center;
    line-height: 2.8rem;
    padding-inline: 0.85rem;
}

.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
    font-weight: 600;
}

.nav-item ::deep a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }

    .nav-scrollable {
        height: calc(100vh - 3.8rem);
        overflow-y: auto;
    }
}
